@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --font-family: 'Quicksand', sans-serif;
    --bg-color: #395b64;
    --primary-color: #e7f6f2;
    --button-color: #a5c9ca;
    --black: #2c3333;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 1em;
    gap: 2.5rem;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

.message {
    font-size: 1em;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 3em;
    padding: 0.625rem;
    margin: 1.25rem;
}

button {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1em;
    color: var(--black);
    padding: 1rem 2rem;
    background-color: var(--button-color);
    border: 3px solid var(--button-color);
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    border: 3px solid var(--black);
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 5em;
    }

    h3 {
        font-size: 2em;
    }

    .message {
        font-size: 1.5em;
    }

    .box {
        font-size: 4em;
    }
}
